.container img {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}