header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #134563;
}

header img {
  margin-right: 32px;
}

.container-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-edit-img {
  margin-right: 10px;
}